/* Buscador.css */
#buscador {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50vw;
    margin: 0 auto; /* Centrado */
    position: fixed; /* Mantener fijo */
    top: 20px; /* Distancia desde la parte superior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar perfectamente */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
    background-color: var(--fondo-web); /* Fondo para que el contenido no se vea detrás */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para mejor visibilidad */
}

#caja {
    width: 96%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: var(--gris-web);
    color: white;
    border: 2px solid var(--gris-hover);
}

#caja:focus {
    border-color: var(--verde-ztmy);
    outline: none;
}
